@import './layout/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Orbitron&family=Righteous&family=Ruda&display=swap');
body{
  font-family: 'Ruda', sans-serif;
}

#root{
  width :100%;
  height:100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  width :100%;
  height:100%;
}

.Bar {
  background: $yellow;
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
}

#BarName{
  float:right;
  padding-right:15px;
}

#name {
  text-decoration: none ;
  color:$blorange;
}

#name:hover {
  color: $pink;
  transition: 1s;
}

#BarBrand{
  padding-left:15px;
}

#BarBalance{
  padding-left: 30%;
}

.PadelCard {
  background: $transparent;
  color: $yellow;
}

#PadelPic{
  width: 250px;
  height: 250px;
  transform: rotate(127deg);
  filter: invert(100%);
}

.BuyTokenCard {
  background: $transparent;
  color: $yellow;
}

#BuyButton{
  color: $black;
  background-color: $yellow;
}



